DATABASE_URL=postgres://beds4u:beds4u_local_only@localhost:5433/beds4u
REDIS_URL=redis://localhost:6379
STORE_CORS=http://localhost:8000
ADMIN_CORS=http://localhost:9000
AUTH_CORS=http://localhost:8000,http://localhost:9000
JWT_SECRET=replace_with_random_hex
COOKIE_SECRET=replace_with_different_random_hex
MEDUSA_PUBLIC_URL=http://localhost:9000
STRIPE_API_KEY=pk_test_51Nlrp0A9BSuAkHfX3E7SUPOcMzmJuMkku6WWMsa9wydvFQ685G8Q4KXYtHorBXCV6geXrFKjZPuzuAeNBQVtcsOR001WipQOgF
STRIPE_WEBHOOK_SECRET=
ALLOW_LIVE_PAYMENTS=false
